    html {
        background-color: #ffffff;
        color: #000000;
        font-size: 62.5%;
    }

    body {
        font-family: 'Poppins', sans-serif;
        font-size: 1.6rem;
    }
    
    footer,
    section {
        padding: 5rem;
        max-width: 96rem;
        margin: 0 auto;
    }

    h2 {
        font-size: 4rem;
        font-weight: 700;
    }

    footer {
        flex-direction: column;
    }
    
    .inspect {
        border: 5px solid red;
    }

    .itemsCenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav {
        padding: 2rem 6rem;
    }

    .navLinks {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }

    .navLinks a {
        color: #000000;
        text-decoration: none;
        font-size: 1.8rem;
    }

    .avatar {
        border-radius: 100%;
        width: 24rem;
        height: 24rem;
        margin-right: 10rem;
    }
    
    .main {
        margin-bottom: 5rem;
    }

    .mainTitle {
        font-size: 4rem;
    }

    .mainDescription {
        margin: 4rem 0;
    }

    .button {
        border-radius: 0.4rem;
        background-color: #2fc0ee;
        padding: 1rem 2rem;
        color: #000000;
        text-decoration: none;
        font-size: 1.6rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .about {
        background-color: #2fc0ee;
    }

    .projectImg {
        width: auto;
        height: 18rem;
        margin-right: 2.5rem;
        border-radius: 0.6rem;

    }

    .projectTitle  {
        font-size: 3rem;
    }

    .projects {
        margin: 4rem 0;
    }

    .icons {
       display: flex;
       gap: 5rem;
    }

    .finished {
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .navLinks :hover {
        text-decoration: underline;
        font-weight: 900;
    }

    .slide {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppons', sans-serif;
    }

    .slide-body {
       min-height: 100vh;
       max-width: 96rem;
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: #efefef;
    }

    .slide-content {
        margin: 0 2.5rem;
    }

    .card-image {
        position: relative;
        height: 9.37rem;
        width: 9.37rem;
    }

    .card-image 
    .card-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 0.25rem solid #3564a9;
    }

    .name {
        font-size: 1.9rem;
        font-weight: 700;
        color: #000000;
    }

    .card {
        border-radius: 1.56rem;
        background-color: #fff;

    }

    .img-content 
    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.6rem 0.9rem;
    }

    @media(max-width: 1200px) {
        .itemsCenter {
            flex-direction: column;
        }
        footer,
        section {
            padding: 5rem;
        }

        .main {
            margin-bottom: 2rem;
        }

        .mainTitle {
            font-size: 3rem;
        }

        .projectImg {
            width: 38rem;
            height: auto;
        }
        
        .navLinks {
            justify-content: center;
        }

        .avatar {
            margin: 0;
            width: 18rem;
            height: 18rem;
        }
    }