    html {
        background-color: #1E1E1E;
        color: #ffffff;
        font-size: 62.5%;
    }

    body {
        font-family: 'Poppins', sans-serif;
        font-size: 1.6rem;
    }

    .inspect {
        border: 5px solid red;
    }

    .nav {
        padding: 2rem 6rem;
    }

    .navLinks {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }

    .navLinks a {
        color: #ffffff;
        text-decoration: none;
    }