    html {
        background-color: #ffffff;
        color: #000000;
        font-size: 62.5%;
    }

    body {
        font-family: 'Poppins', sans-serif;
        font-size: 1.6rem;
    }
    
    footer,
    section {
        padding: 5rem;
        max-width: 96rem;
        margin: 0 auto;
    }

    h2 {
        font-size: 4rem;
        font-weight: 700;
    }

    footer {
        flex-direction: column;
    }
    
    .inspect {
        border: 5px solid red;
    }

    .itemsCenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav {
        padding: 2rem 6rem;
    }

    .navLinks {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }

    .navLinks a {
        color: #000000;
        text-decoration: none;
        font-size: 1.8rem;
    }

    .avatar {
        border-radius: 100%;
        width: 24rem;
        height: 24rem;
        margin-right: 10rem;
    }
    
    .main {
        margin-bottom: 5rem;
    }

    .mainTitle {
        font-size: 4rem;
    }

    .mainDescription {
        margin: 4rem 0;
    }

    .button {
        border-radius: 0.4rem;
        background-color: #2fc0ee;
        padding: 1rem 2rem;
        color: #000000;
        text-decoration: none;
        font-size: 1.6rem;
    }

    .about {
        background-color: #2fc0ee;
    }

    .projectImg {
        width: auto;
        height: 18rem;
        margin-right: 2.5rem;
        border-radius: 0.6rem;

    }

    .projectTitle  {
        font-size: 3rem;
    }

    .projects {
        margin: 4rem 0;
    }

    .icons {
       display: flex;
       gap: 5rem;
    }

    .finished {
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .navLinks :hover {
        text-decoration: underline;
        font-weight: 900;
    }

    .slide {
        display: flex;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }

    .containerGeneral {
        min-height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        max-width: 96rem;
        background-color: #ffffff;
    }

    .cardImage {
        position: relative;
        margin-left: 32%;
        justify-content: center;
        height: 17rem;
        width: 17rem;
        background: #fff;
        padding: 0.19rem;
    } 

    .imgContent
    .cardContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.6rem 0.9rem ;
    }

    .imgContent {
        row-gap:0.3rem;
    }

    h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3rem;
        font-size: 2.7rem;
        font-weight: 700;
    }
    .cardImg {
        display: flex;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        border-radius: 50%;
        border: 0.3rem solid #2fc0ee ;
    }

    .description {
        font-size: 1.8rem;
        font-weight: 500;
        text-align: center;
    }

    .slideContent {
        margin: 0 3rem;
    }

    .card {
        width: 50rem;
        border-radius: 1.6rem;
        background-color: #fff;
    }

    .buttonProject {
        border: none;
        border-radius: 0.4rem;
        font-size: 1.8rem;
        color: #000000;
        padding: 0.5rem 1rem;
        background-color: #2fc0ee ;
    }

    @media(max-width: 1200px) {
        .itemsCenter {
            flex-direction: column;
        }
        footer,
        section {
            padding: 5rem;
        }

        .main {
            margin-bottom: 2rem;
        }

        .mainTitle {
            font-size: 3rem;
        }

        .projectImg {
            width: 38rem;
            height: auto;
        }
        
        .navLinks {
            justify-content: center;
        }

        .avatar {
            margin: 0;
            width: 18rem;
            height: 18rem;
        }
    }